<li class="odd"><a href="/">Processors</a></li>
				<li class="even"><a href="/">Motherboards</a></li>
				<li class="odd"><a href="/">Desktops</a></li>
				<li class="even"><a href="/">Laptops &amp; Notebooks</a></li>
				<li class="odd"><a href="/">Processors</a></li>
				<li class="even"><a href="/">Motherboards</a></li>
				<li class="odd"><a href="/">Processors</a></li>
				<li class="even"><a href="/">Motherboards</a></li>
				<li class="odd"><a href="/">Desktops</a></li>
				<li class="even"><a href="/">Laptops &amp; Notebooks</a></li>
				<li class="odd"><a href="/">Processors</a></li>
				<li class="even"><a href="/">Motherboards</a></li>